.App {
  text-align: center;
  background-color: #EAD177;
  min-height: 100vh;
}

.App-header {
  /* background-color: #51B166; */
  background-image: linear-gradient(180deg, #51B166, #EAD177);
  min-height: 15vh;
  display: flex;
}

.App-footer {
  background-image: linear-gradient(180deg, #EAD177, #51B166);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 15vh;
}

.title {
  font-family: "Kadwa", serif;
  font-weight: 700;
  font-style: normal;
  justify-content: center;
  width: 75%;
  margin-top: 0;
  padding-top: 1%;
}

.logo {
  max-width: 150px;
  max-height: 150px;
  padding-top: 1%;
  padding-left: 2%;
  align-self: flex-start;
}

@media (max-width: 520px) {
  .title {
    font-size: 1.7em;
  }
  .logo {
    max-width: 125px;
    max-height: 125px;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 1.25em;
  }
  .logo {
    max-width: 100px;
    max-height: 100px;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 1em;
  }
  .logo {
    max-width: 75px;
    max-height: 75px;
  }
}